# Core Framework
python-dotenv==1.0.0
flask==3.0.3
flask-cors==4.0.0

# Database & ORM
sqlalchemy==2.0.23
psycopg2-binary==2.9.9


# LLM/NL2SQL Core 
langchain==0.3.23
langchain-core==0.3.51
langchain-community==0.3.9
langsmith==0.1.147
pydantic==2.7.4
typing-extensions==4.12.2
typing-inspect==0.9.0

# UI
streamlit==1.28.0

# Testing
pytest==7.4.3
pytest-mock==3.12.0

# Dev Tools
jupyter==1.0.0
black==23.10.1
isort==5.12.0

# Vanna
vanna==0.7.9